<header>
<div class="container">

<div class="logo">
<h2>Glow <span>Clinic</span></h2>
</div>

<ul class="nav-links">

<li><a href="index.html" class="active">Beranda</a></li>

<!-- DROPDOWN TREATMENT -->
<li class="dropdown">

<a href="treatment.html">Treatment</a>

<ul class="dropdown-menu">

<li><a href="treatment.html">Semua</a></li>
<li><a href="facial.html">Facial</a></li>
<li><a href="peeling.html">Peeling</a></li>
<li><a href="laser.html">Laser</a></li>
<li><a href="bodycare.html">Body Care</a></li>

</ul>

</li>

<li><a href="produk.html">Produk</a></li>

<li><a href="profil.html">Profil</a></li>

<li><a href="konsultasi.html" class="btn-nav">Konsultasi</a></li>

</ul>

<div class="burger">
<div class="line1"></div>
<div class="line2"></div>
<div class="line3"></div>
</div>

</div>
</header>

